*{
    margin:0;
    padding:0;
}

body{
    overflow: hidden;
    animation: bodyShake linear 1.5s infinite;

}
    
.sky{
    height:100vh;
    width:100%;
    background-image: url(background.jpg);
    background-repeat:no-repeat;
    position:absolute;
}

.trees{
    height: 100vh;
    width:100%;
    background-image:url(trees.png);
    background-size:cover;
    background-repeat: repeat-x;
    position:absolute;
    top:-144px;
}

.track{
    height: 40vh;
    width:800vw;
    background-image:url(track.png);
    position:absolute;
    top:70vh;
    animation: carMove linear 13s infinite;
}

.car{
    height: 100px;
    width:380px;
    background-image: url(car_body.png);
    background-size:cover;
    background-repeat: no-repeat;
    position:absolute;
    left:444px;
    bottom:30vh;
    animation: shake linear .3s infinite;

}


.wheel1 img {
    width: 74px;
    position: relative;
    top: 39px;
    left: 44px;
    animation: wheelRotation linear .1s infinite;
}

.wheel2 img{
    width: 77px;
    position: relative;
    top: -40px;
    left: 234px;
    animation: wheelRotation linear .1s infinite;

}

@keyframes wheelRotation
 {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes carMove
 {
    100%{
        transform:translatex(-500vw);
    }
}

@keyframes shake
 {
    0%{
        transform:translatey(-5px);
    }
    50%{
        transform:translatey(5px);
    }
    100%{
        transform:translatey(-5px);
    }
}

@keyframes bodyShake
 {
    0%{
        transform:translatey(-5px);
    }
    50%{
        transform:translatey(5px);
    }
    100%{
        transform:translatey(-5px);
    }
}